{% extends 'base.html.twig' %}

{% block content %}
    {% if game.freespot %}
        <div>
            <label class="form-label"
                   for="joinLinkField">
                Join link
            </label>
            <input type="text"
                   id="joinLinkField"
                   class="form-control"
                   onfocus="this.select();"
                   value="{{ url('game_join', {code: game.code}) }}"
                   readonly>
        </div>
    {% endif %}

    {{ component('Tabletop', {game: game, player: player, form: form}) }}
{% endblock %}
