{% extends 'base.html.twig' %}

{% block content %}
    {#    <label> #}
    {#        Join link: #}
    {#        <input type="text" value="{{ path('game_join', {code: game.code}) }}" readonly> #}
    {#    </label> #}
    <form method="post" action="{{ path('game_join', {code: game.code}) }}">
        <input type="hidden" name="token" value="{{ csrf_token('join') }}">
        <button type="submit">
            Join this game
        </button>
    </form>

    {{ component('Tabletop', {game: game, player: 0}) }}
{% endblock %}
